.ae-logo__front, .navbar, .navbar--intro, .navbar--contact, .navbar__front, .navbar__front--brand, .navbar__front--img, .navbar__front--links, .container .intro, .container .intro--main, .container .intro__greeting, .container .intro__greeting--main, .container .intro__greeting-2, .container .intro__greeting-2--main, .container .about, .container .about-page, .container .about__greeting, .container .about-page__greeting, .container .portfolio, .container .portfolio__greeting, .container .contact, .container .contact__greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .intro__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ae-logo__front--enter, .ae-logo__front--text, .container .intro__logo-img, .container .about__greeting, .container .about-page__greeting, .container .portfolio__design-img, .container .contact__handshake-img {
  position: absolute;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background: #000;
  height: 100vh;
}

@-webkit-keyframes logoEnter {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes logoEnter {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes textEnter {
  50% {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes textEnter {
  50% {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes logoPageClose {
  90% {
    display: -webkit-box;
    display: flex;
    height: 100vh;
  }
  100% {
    display: none;
    height: 0;
  }
}

@keyframes logoPageClose {
  90% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  100% {
    display: none;
    height: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes fadeLeftMain {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes fadeLeftMain {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@-webkit-keyframes fadeRightMain {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes fadeRightMain {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

.ae-logo__front {
  position: relative;
  -webkit-animation: logoPageClose 8s cubic-bezier(0, 0.8, 0.14, 0.94) forwards;
          animation: logoPageClose 8s cubic-bezier(0, 0.8, 0.14, 0.94) forwards;
}

.ae-logo__front--enter {
  -webkit-animation: logoEnter 6s forwards;
          animation: logoEnter 6s forwards;
  width: clamp(250px, 150vw, 1000px);
}

.ae-logo__front--text {
  font-size: 8vw;
  opacity: 0;
  color: white;
  -webkit-animation: textEnter 6s forwards;
          animation: textEnter 6s forwards;
}

.navbar {
  position: relative;
  height: 15vh;
  z-index: 10;
  -webkit-animation: fadeIn 8s ease-in forwards;
          animation: fadeIn 8s ease-in forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.navbar__anchor-links {
  text-decoration: none;
  color: white;
  font-family: 'Source Code Pro', sans-serif;
}

.navbar__anchor-links:visited, .navbar__anchor-links:focus {
  color: white;
}

.navbar__anchor-links:hover {
  color: aqua;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar--intro {
  position: relative;
  height: 15vh;
  z-index: 10;
}

.navbar--contact {
  position: relative;
  height: 15vh;
  z-index: 10;
}

.navbar__front {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(top, from), color-stop(0%, black), to(transparent));
  background: linear-gradient(from top, black 0%, transparent 100%);
  position: fixed;
  height: 15vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__front--img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 2vw;
}

.navbar__front--img-logo {
  width: clamp(6vh, 15vw, 14vh);
}

.navbar__front--img-logo-2 {
  width: clamp(6vh, 15vw, 14vh);
  padding-top: 4px;
}

.navbar__front--title {
  color: white;
  width: 100%;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.navbar__front--links {
  margin-right: 2vw;
  color: white;
  font-size: clamp(1rem, 3vw, 2rem);
  text-decoration: none;
  list-style-type: none;
}

@media screen and (max-width: 750px) {
  .navbar__front--links {
    position: absolute;
    top: 0;
    margin-top: 15vh;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar__front--links li {
  margin: 0 clamp(10px, 2vw, 20px);
  font-family: 'Source Code Pro', sans-serif;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .navbar__front--links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #0b0b0b;
  }
}

@media screen and (max-width: 750px) {
  .navbar__front--links li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container .intro {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(171, 80, 0, 0.708)), to(black));
  background: linear-gradient(black 0%, rgba(171, 80, 0, 0.708) 50%, black 100%);
  position: relative;
  width: 100%;
  height: 85%;
  opacity: 0.5;
  -webkit-animation: fadeIn 8.5s ease-in forwards;
          animation: fadeIn 8.5s ease-in forwards;
}

.container .intro--main {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(171, 80, 0, 0.708)), to(black));
  background: linear-gradient(black 0%, rgba(171, 80, 0, 0.708) 50%, black 100%);
  position: relative;
  width: 100%;
  height: 85%;
  opacity: 0.5;
  -webkit-animation: fadeInMain 1s ease-in forwards;
          animation: fadeInMain 1s ease-in forwards;
}

.container .intro__logo-img {
  opacity: 0.5;
  width: clamp(250px, 100vw, 600px);
}

.container .intro__paragraph {
  text-shadow: none;
}

.container .intro__greeting {
  font-family: 'Roboto';
  margin: 1vw;
  color: white;
  text-shadow: none;
  font-size: clamp(26px, 8vw, 56px);
  -webkit-animation: fadeLeft 9s ease-in-out forwards;
          animation: fadeLeft 9s ease-in-out forwards;
}

.container .intro__greeting--main {
  font-family: 'Roboto';
  margin: 1vw;
  color: white;
  text-shadow: none;
  font-size: clamp(26px, 8vw, 56px);
  -webkit-animation: fadeLeftMain 1.5s ease-in-out forwards;
          animation: fadeLeftMain 1.5s ease-in-out forwards;
}

.container .intro__greeting-2 {
  font-family: 'Roboto';
  line-height: 6vw;
  color: white;
  width: 80vw;
  max-width: 590px;
  font-size: clamp(14px, 4vw, 28px);
  text-align: center;
  -webkit-animation: fadeRight 9s ease-in-out forwards;
          animation: fadeRight 9s ease-in-out forwards;
}

.container .intro__greeting-2--main {
  font-family: 'Roboto';
  line-height: 6vw;
  color: white;
  width: 80vw;
  max-width: 590px;
  font-size: clamp(14px, 4vw, 28px);
  text-align: center;
  -webkit-animation: fadeRightMain 1.5s ease-in-out forwards;
          animation: fadeRightMain 1.5s ease-in-out forwards;
}

@media screen and (min-width: 750px) {
  .container .intro__greeting-2--main {
    line-height: 46px;
    max-width: 590px;
  }
}

@media screen and (min-width: 750px) {
  .container .intro__greeting-2 {
    line-height: 46px;
    max-width: 590px;
  }
}

.container .about, .container .about-page {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(0, 63, 171, 0.708)), to(black));
  background: linear-gradient(black 0%, rgba(0, 63, 171, 0.708) 50%, black 100%);
  position: relative;
}

.container .about__headshot-img, .container .about-page__headshot-img {
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  width: clamp(800px, 100vw, 2000px);
}

.container .about__greeting, .container .about-page__greeting {
  font-size: clamp(4rem, 12vw, 10rem);
  cursor: pointer;
}

.container .about__grid--bio, .container .about-page__grid--bio {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw (1fr)[3] 5vw;
      grid-template-columns: 5vw repeat(3, 1fr) 5vw;
  -ms-grid-rows: 25vw 10vh 20vh 30vh 1fr;
      grid-template-rows: 25vw 10vh 20vh 30vh 1fr;
  justify-items: center;
}

.container .about__grid--bio-headshot, .container .about-page__grid--bio-headshot {
  border: 10px solid transparent;
  outline: 5px solid rgba(242, 105, 0, 0.906);
  border-radius: 5px;
  width: clamp(250px, 60vw, 600px);
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  margin-top: 5vh;
}

@media screen and (max-width: 500px) {
  .container .about__grid--bio-headshot, .container .about-page__grid--bio-headshot {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 8;
    grid-row: 2 / 10;
  }
}

.container .about__grid--bio-description, .container .about-page__grid--bio-description {
  background-color: rgba(17, 17, 17, 0.461);
  border: 10px solid transparent;
  outline: 5px solid rgba(242, 105, 0, 0.906);
  width: clamp(250px, 60vw, 600px);
  color: white;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: justify;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 500px) {
  .container .about__grid--bio-description, .container .about-page__grid--bio-description {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / 10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    grid-row: 6 / 10;
  }
}

@media screen and (max-width: 500px) {
  .container .about__grid--bio, .container .about-page__grid--bio {
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.container .portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(171, 157, 0, 0.708)), to(black));
  background: linear-gradient(black 0%, rgba(171, 157, 0, 0.708) 50%, black 100%);
  position: relative;
  height: 100vw;
}

.container .portfolio__design-img {
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  width: clamp(800px, 100vw, 2000px);
}

.container .portfolio__greeting {
  font-size: clamp(2rem, 12vw, 8rem);
  cursor: pointer;
}

.container .contact {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(0, 160, 171, 0.708)), to(black));
  background: linear-gradient(black 0%, rgba(0, 160, 171, 0.708) 50%, black 100%);
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.container .contact__handshake-img {
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  z-index: -1;
  width: clamp(800px, 100vw, 2000px);
}

.container .contact__greeting {
  font-size: clamp(2rem, 12vw, 8rem);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #111;
}

a:visited, a:focus {
  color: #111;
}

h1 {
  color: #111;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.titles {
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0;
}

.titles.show {
  opacity: 1;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 20px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before, .menu-button::after {
  display: block;
  right: 0%;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -1.5vh;
}

.menu-button::after {
  content: '';
  margin-top: 1.5vh;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 750px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vw;
  }
  #menu-toggle ~ .navbar__front--links li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .navbar__front--links li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
/*# sourceMappingURL=styles.css.map */